.grid {
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
  }
  
  .gridItem {
    width: 20px;
    height: 20px;
    border: 1px solid lightgray;
    cursor: pointer;
  }
  
  .gridItem:hover {
    border: 1px solid gray;
    transform: scale(1.25);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  @media (max-width: 440px) {
    .grid {
      grid-template-columns: repeat(20, 4vw);
      grid-template-rows: repeat(20, 4vw);
    }
  
    .gridItem {
      width: 4vw;
      height: 4vw;
    }
  }
  