.toolbar {
    display: flex;
    margin: 40px auto;
    padding: 12px;
    border: 1px solid lightgray;
    border-radius: 32px;
    gap: 8px;
  }
  
  .toolbar > button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid white;
    cursor: pointer;
  }

  .selected-color {
    outline: 3px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  @media (max-width: 440px) {
    .toolbar {
      padding: 2vw;
      gap: 1vw;
    }
  
    .toolbar > button {
      width: 10vw;
      height: 10vw;
    }
  }